@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.cryptoCardContainer{
    padding-left: 9%;
    padding-right: 10%;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.cryptoCard{
    min-width: 250px;
}
.searchCrypto {
    padding-bottom: 2%;
    margin-left: 10%;
    margin-right: 11%;
}
.cryptoCard .cryptoImage{
    width:100%;
}

.titleFirst {
    font-weight: bold;
}
.titleNext {
    font-weight: normal;
    color: gray;
}