@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.homeEl {
    margin-left: 9%;
    margin-right: 9%;
    align-items: center;
}
.heading {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: bold;
}
.underHeadingTitle {
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
}
.underHeading {
    display: flex;
    justify-content: space-around;
}
@media (max-width: 898px) {
    .heading {
        font-size: 2rem;
    }
    .underHeadingTitle {
        font-size: 1.8rem;
    }
}
@media (max-width: 540px) {
    .heading {
        font-size: 1.5rem;
    }
    .underHeadingTitle {
        font-size: 1.2rem;
    }
}
