@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.mainEl {
    margin-top: 2%;
    margin-left: 8%;
    margin-right: 9%;
}
.newsCard{
    min-height: 300px !important;
}
.todayNews {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: 1%;
}
.newsImageContainer{
    display: flex !important;
    justify-content: space-between !important;
}
.newsTitle{
    width: 100%;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 2;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    font-size: 15px;
    line-height: 19px;
}

.newsImageContainer .img{
    width:100px;
    height:100px;
}
.newsCard p{
    color: black;
    margin: 10px 0px !important;
}
.providerContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}
.providerName{
    margin-left: 10px;
}
.parDescription {
    color: gray !important;
    padding-left: 3%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    box-orient: vertical;
    height: 21vh;
}
.timeFromNow{
    font-size: 0.8rem;
}
@media (max-width: 1088px) {
    .todayNews {
        font-size: 2rem;
    }
    .timeFromNow{
        display: none;
    }
}
@media (max-width: 640px) {
    .todayNews {
        font-size: 1.5rem;
    }
}